{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col">
        <h1 class="title">My Account</h1>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <h2>Name:</h2>
    </div>
    <div class="col">
        <h2>{{ current_user.name }}</h2>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <h2>Email:</h2>
    </div>
    <div class="col">
        <h2>{{ current_user.email }}</h2>
    </div>
</div>
<br>
<div class="row text-center">
    <div class="col">
        <h4><a href="{{ url_for('routes.logout') }}" class="accbtn" id="logout">Logout</a></h4>
    </div>
    <div class="col">
        <h4><a href="{{ url_for('routes.history') }}" class="accbtn" id="history">View History</a></h4>
    </div>
</div>
<br>
<br>
<div class="row text-center">
    <div class="col">
        <h4><a href="{{ url_for('routes.activity_recommendations') }}" class="accbtn" id="acctactdiff">View Current Activity Difficulties</a></h4>
    </div>
</div>
{% endblock %}
