{% extends "base.html" %}

{% block body %}
<div class="row">
    <h1 class="title">Journal</h1>
</div>
<!--Button options to add or review entires-->
<div class="row">
    <div class="col-12 text-center">
        <div class="text-center">
            <button class="btn tableshow" data-bs-toggle="collapse" data-bs-target="#journalContainer">
                Add Entry
            </button>
            <a class="btn graphshow" href="{{ url_for('routes.journalhistory') }}">
                See Previous Entries
            </a>
        </div>
    </div>
</div>

<!--Add Entry-->
<div class="row">
    <div class="collapse text-center" id="journalContainer">
        <h2 class="subtitle">How are you feeling today?</h2>
        <h4 class="subheading">Select a mood and add any notes you'd like to record</h4>
    <form method="POST">
        {{ form.hidden_tag() }}

        <!--Date-->
        <div class="mb-3">
            <h5>
                {{ form.date.label(class="form-label") }}
                {{ form.date(class="form-control") }}
            </h5>
        </div>
        
        <!--Mood Buttons-->
        <div class="mb-3">
            <h5><label class="form-label">{{ form.mood.label }}</label></h5>

            {% for subfield in form.mood %}
                {% set value = subfield._value() %}

                {{ subfield(class="btn-check") }}

                {% if value == "happy" %}
                    <label class="btn mood-btn mood-happy" for="{{ subfield.id }}">
                        😊 {{ subfield.label.text }}
                    </label>

                {% elif value == "calm" %}
                    <label class="btn mood-btn mood-calm" for="{{ subfield.id }}">
                        😌 {{ subfield.label.text }}
                    </label>

                {% elif value == "neutral" %}
                    <label class="btn mood-btn mood-neutral" for="{{ subfield.id }}">
                        😐 {{ subfield.label.text }}
                    </label>

                {% elif value == "sad" %}
                    <label class="btn mood-btn mood-sad" for="{{ subfield.id }}">
                        😢 {{ subfield.label.text }}
                    </label>

                {% elif value == "angry" %}
                    <label class="btn mood-btn mood-angry" for="{{ subfield.id }}">
                        😡 {{ subfield.label.text }}
                    </label>

                {% elif value == "anxious" %}
                    <label class="btn mood-btn mood-anxious" for="{{ subfield.id }}">
                        😖 {{ subfield.label.text }}
                    </label>

                {% elif value == "low" %}
                    <label class="btn mood-btn mood-low" for="{{ subfield.id }}">
                        😭 {{ subfield.label.text }}
                    </label>
                {% elif value == "overwhelmed" %}
                    <label class="btn mood-btn mood-overwhelmed" for="{{ subfield.id }}">
                        😫 {{ subfield.label.text }}
                    </label>
                
                {% endif %}
            {% endfor %}
        </div>
        <!--Notes-->
        <div class="mb-3">
            <h5>
                {{ form.notes.label(class="form-label") }}
            </h5>
            {{ form.notes(class="form-control", rows="8", placeholder="Write anything you want to remember") }}
        </div>
        <!--Submit-->
        <button type="submit" class="btn spoonysubmit" id="activitysubmit">Save Journal Entry</button>
    </form>
</div>

{% endblock %}