{% extends "base.html" %}

{% block body %}
<div class="row">
    <h1 class="title">Resources</h1>
</div>
<div class="row text-center">
    <div class="col">
        <h2>Support Pages</h2>
        <h3>Europe</h3>
        <h4><a href="https://enfa-europe.eu/members/">European Network of Fibromyalgia Associations</a></h4>
        <br>
        <h4>USA</h4>
        <a href="https://www.fmaware.org">National Fibromyalgia Association</a>
        <br>
        <h4>Canada</h4>
        <a href="https://fibrosupportnetwork.ca">Fibromyalgia Support Network</a>
        <br>
        <h4>Latin America</h4>
        <h5>Brazil: <a href="https://www.reumatologia.org.br">EpiFibro</a></h5>
        <h5>Mexico <a href="https://fibromialgiamexico.com">Fibromyalgia Mexico</a></h5>
        <h4>Australia</h4>
        <a href="https://fibromyalgiaaustralia.org.au">Fibromyalgia Australia</a>
    </div>
    <div class="col">
        <h2>
            Gentle Yoga
        </h2>
        <h4><a href="https://youtu.be/ZujgWC7JbUA?si=KmIXIh1YOsMqAySM">Length: 10:41</a></h4>
        <h4><a href="https://youtu.be/Xlc_NDaeEbo?si=PO44g1BeVohGliJR">Length: 10:54</a></h4>
        <h4><a href="https://youtu.be/223obfGrL_s?si=XVly-dnwPm-WRxIP">Length: 24:01</a></h4>
    </div>
</div>
{% endblock %}