{% extends "base.html" %}

{% block body %}
<div class="row">
    <h1 class="title">Resources</h1>
    <br>
</div>
<div class="row text-center">
    <div class="col">
        <h2>Support Pages</h2>
        <br>
        <h3>Europe</h3>
        <h4><a href="https://enfa-europe.eu/members/">European Network of Fibromyalgia Associations</a></h4>
        <br>
        <h3>USA</h3>
        <h4><a href="https://www.fmaware.org">National Fibromyalgia Association</a></h4>
        <br>
        <h3>Canada</h3>
        <h4><a href="https://fibrosupportnetwork.ca">Fibromyalgia Support Network</a></h4>
        <br>
        <h3>Latin America</h3>
        <h4>Brazil: <a href="https://www.reumatologia.org.br">EpiFibro</a></h4>
        <h4>Mexico: <a href="https://fibromialgiamexico.com">Fibromyalgia Mexico</a></h4>
        <br>
        <h3>Australia</h3>
        <h4><a href="https://fibromyalgiaaustralia.org.au">Fibromyalgia Australia</a></h4>
    </div>
    <div class="col">
        <h2>Gentle Yoga</h2>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZujgWC7JbUA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Xlc_NDaeEbo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/223obfGrL_s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<br>
<div class="row text-center">
    <div class="col">
        <h2>Other Useful Links</h2>
        <br>
        <h3><a href="https://www.qehkl.nhs.uk/Document/Pain%20Management/Living_Well_with_Fibromyalgia_Workbook-May_2021.pdf">NHS Living well with Fibromyalgia Workbook</a></h3>
        <br>
        <h3><a href="https://fibro.org.uk/pacing-and-fibromyalgia/">Pacing Tips and Tricks</a></h3>
        <br>
         <h3><a href="https://www.fibromyalgiafund.org/Treatment-research-news/">Treatment and Research News</a></h3>
        <br>
    </div>
</div>
{% endblock %}